In [ ]:
print("hello world")

hello world

In [ ]:
ashdkjas

In [1]:
a=10
print(id(a))

10751144

In [3]:
b=10
print(id(b))

10751144

In [5]:
a=b=c=10
print(a,b,c)

10 10 10

In [4]:
for i in "ajay", "aditya":
  print(i)

ajay
aditya

In [5]:
for i in range(1,10,2):
  if i % 2 == 0:
    print(i,"number is divisible by 2")
  else:
    print(i,"number is not divisible by 2")

0 number is divisible by 2
1 number is not divisible by 2
2 number is divisible by 2
3 number is not divisible by 2
4 number is divisible by 2
5 number is not divisible by 2
6 number is divisible by 2
7 number is not divisible by 2

In [6]:
name_list = []
for i in [ "ajay", "aditya" ]:
  name_list.append(i)
print(name_list)

['ajay', 'aditya']