In [ ]:
print("hello world")

hello world

In [ ]:
ashdkjas

In [ ]:
a=10
print(id(a))

10751144

In [ ]:
b=10
print(id(b))

10751144

In [ ]:
a=b=c=10
print(a,b,c)

10 10 10

In [ ]:
for i in "ajay", "aditya":
  print(i)

ajay
aditya

In [ ]:
for i in range(1,10,2):
  if i % 2 == 0:
    print(i,"number is divisible by 2")
  else:
    print(i,"number is not divisible by 2")

0 number is divisible by 2
1 number is not divisible by 2
2 number is divisible by 2
3 number is not divisible by 2
4 number is divisible by 2
5 number is not divisible by 2
6 number is divisible by 2
7 number is not divisible by 2

In [3]:
name_list = []
for i in [ "ajay", "aditya", "demo", "ajay" ]:
  name_list.append(i)
print(name_list)
name_list.count("ajay")

['ajay', 'aditya', 'demo', 'ajay']

2

In [3]:
a={1,2,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

In [21]:
Name="code yug"
print(Name[-8:-4])

code

In [25]:
string="Hello, World!"
print(string[-3:-1])

ld

In [26]:
a=10
a+=1
print(a)

11

In [44]:
name_list="Ajay is my name and India is my country. I love India"
name = ["Ajay", 40]
name_list.startswith("Aj")
name_list.replace("Ajay", "Aditya")
print(name_list)

Ajay is my name and India is my country. I love India

In [48]:
a=[1,2,2,3,4,5]
a.insert(2,55)
print(a)

[1, 2, 55, 2, 3, 4, 5]

In [3]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
my_list = [5, 10, -2, 8, 20]